*{
  box-sizing: border-box;
}
.app {
  text-align: center;
  background: #107dac;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 80%;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
}

.cars_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

.car_row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.car_row .car {
  flex-basis: 33.3333333%;
  padding: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.car_row .car:nth-child(1) {
  
}

.car_row .car:last-child {
  border-right: 0
}

.car_row:nth-child(1) > .car {
  padding-top: 0;
}

.car_row:last-child > .car {
  padding-bottom: 0;
  border-bottom: 0;
}

.car .car_box {
  width: 100%;
  height: 180px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative; 
  border: 2px solid #fff;
  border-radius: 7px;
  cursor: pointer;
  background: #71c7ec;
}

.car .car_box .car_name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 5px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
}

.car .car_box .img_box {
  max-width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car .car_box .img_box img {
  width: 90%;
}

.filter_box {
  margin: 40px 0;
  position: relative;
  width: 100%;
}

.filter_box input {
  width: 100%;
  height: 40px;
  border: 3px solid #000;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 7px;
}

.filter_box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #f7941d;
  border: 3px solid #000;
  border-radius: 0 7px 7px 0;
}

.filter_box button:hover {
  background: #ffbf00
}

.filter_box button i {
  font-size: 18px;
  color: #fff
}
